<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bibliotec_MVC_DEV</title>
    <script type="importmap"></script>
   
    @RenderSection(name: "Styles", required: false)
</head>

<body>

    <main role="main">
        @RenderBody()
    </main>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
