@{
    ViewData["Title"] = "Cadastrar Livro";
}

@section Styles {
    <link rel="stylesheet" href="css/padrao.css">
    <link rel="stylesheet" href="css/aside.css">
    <link rel="stylesheet" href="css/logado.css">
    <link rel="stylesheet" href="css/cadastroLivro.css">
}

@section Scripts {
    <script src="~/js/logado.js"></script>
    <script src="~/js/cadastroLivro.js"></script>
}

<div class="container_logado">

    <main class="container_main">
        <div class="main_box_conteudo">
            <h1>Cadastrar Livro</h1>

            <form class="form_cad_livro" action="" method="POST" enctype="multipart/form-data">

                <div class="linha_form">
                    <div class="campo_form">
                        <label for="titulo">Titulo</label>
                        <input type="text" id="titulo" name="Titulo" required>
                    </div>

                    <div class="campo_form campo_form_ativo">
                        <label for="ativo">Ativo</label>
                        <input type="checkbox" checked name="Ativo" id="ativo" value="true">
                    </div>
                </div>

                <div class="linha_form">
                    <div class="campo_form">
                        <label for="autor">Autor</label>
                        <input type="text" id="autor" name="Autor" required>
                    </div>

                    <div class="campo_form">
                        <label for="categoria">Categorias</label>

                        <select id="categoria">
                            <option value="" disabled selected>Selecione</option>
                            <option value="1">Ação e Aventura</option>
                            <option value="2">Ficção Científica</option>
                            <option value="3">Romance</option>
                        </select>
                    </div>

                    <button id="cad_btn_inserir" type="button">Inserir</button>
                </div>

                <div class="linha_form">
                    <div id="cad_lista_cats">
                    </div>
                </div>

                <div class="linha_form">
                    <div class="campo_form">
                        <label for="sinopse">Sinopse</label>
                        <textarea name="Sinopse" id="sinopse" rows="6"></textarea>
                    </div>
                </div>

                <div class="linha_form">
                    <div class="campo_form">
                        <label for="editora">Editora</label>
                        <input type="text" id="editora" name="Editora" required>
                    </div>

                    <div class="campo_form">
                        <label for="anoPublicacao">Ano</label>
                        <input type="number" id="anoPublicacao" name="AnoPublicacao" required value="2024">
                    </div>

                    <div class="campo_form input_img">
                        <span>Foto da capa</span>

                        <label for="img">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
                                <path fill="currentColor"
                                      d="M331.3 68.7C325.1 62.5 314.9 62.5 308.7 68.7L164.7 212.7C158.5 218.9 158.5 229.1 164.7 235.3C170.9 241.5 181.1 241.5 187.3 235.3L304 118.6L304 400C304 408.8 311.2 416 320 416C328.8 416 336 408.8 336 400L336 118.6L452.7 235.3C458.9 241.5 469.1 241.5 475.3 235.3C481.5 229.1 481.5 218.9 475.3 212.7L331.3 68.7zM128 400C128 391.2 120.8 384 112 384C103.2 384 96 391.2 96 400L96 480C96 533 139 576 192 576L448 576C501 576 544 533 544 480L544 400C544 391.2 536.8 384 528 384C519.2 384 512 391.2 512 400L512 480C512 515.3 483.3 544 448 544L192 544C156.7 544 128 515.3 128 480L128 400z" />
                            </svg>
                        </label>

                        <input type="file" name="ArquivoImagem" id="img" accept="image/*">
                    </div>
                </div>

                <input type="hidden" name="CategoriasSelecionadas" id="CategoriasSelecionadas">

                <button class="botao_cad" type="submit">Cadastrar</button>
            </form>
        </div>
    </main>
</div>